/* Global Styles */

h1,
h2,
h3 {
  font-weight: 500;
  line-height: 1;
}

h2,
h3 {
  color: #5f5d60;
  font-size: 1.25em;
}

h1 {
  font-size: 4.5em;
  font-weight: 200;
  margin-bottom: 30px;
  color: #cadeff;
  text-shadow: 3px 1px 5px rgba(17, 29, 62, 0.75);
}

.rnd {
  border-radius: 8px;
}

/* Navigation */

.top-bar {
  width: 100%;
  height: auto;
  background-color: rgba(17, 29, 62, 0.93);
  position: fixed;
  top: 0;
  z-index: 9999;
}

.top-bar p {
  color: #3e6989;
  margin-top: 18px;
  font-weight: bold;
}

.main-logo {
  width: 150px;
  height: 50px;
  background-image: url("../img/main-logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center left;
  text-indent: 100%;
  overflow: hidden;
  margin-top: 2px;;
}

/* Headline */

.headline {
  padding: 100px 0 60px;
  margin: 75px 0 75px;
  background: url("../img/main-bg.png") no-repeat, -moz-linear-gradient(bottom,  rgba(17,29,62,1) 10%, rgba(53,71,101,1) 100%, rgba(53,71,101,1) 100%);
  background: url("../img/main-bg.png") no-repeat, -webkit-linear-gradient(bottom,  rgba(17,29,62,1) 10%,rgba(53,71,101,1) 100%,rgba(53,71,101,1) 100%);
  background: url("../img/main-bg.png") no-repeat, linear-gradient(to top,  rgba(17,29,62,1) 10%,rgba(53,71,101,1) 100%,rgba(53,71,101,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111d3e', endColorstr='#354765',GradientType=0 );
  background-position: 200% top;
}

.lead {
  margin-bottom: 70px;
  color: #cadeff;
}

.lead:nth-of-type(2) {
  font-size: initial;
  margin-bottom: 20px;
}

.device {
 float: right;
  width: 84%;
  height: 550px;
  background: url("../img/device-hero.png") no-repeat;
  background-size: contain;
}

/* Feature Content */

.ft {
  margin-bottom: 72px;
}

div.ft:nth-of-type(5) {
  margin-bottom: 130px;
}

.ft-icon {
  /*background-color: rgb(17, 29, 62);*/
  background: -moz-linear-gradient(left,  rgba(17,29,62,1) 5%, rgba(53,71,101,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(17,29,62,1) 5%,rgba(53,71,101,1) 100%);
  background: linear-gradient(to right,  rgba(17,29,62,1) 5%,rgba(53,71,101,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111d3e', endColorstr='#354765',GradientType=1 );

  width: 90%;
  height: 190px;
  position: relative;
}

.ft-icon::before {
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #3e6989;
  box-shadow: 0px 0px 10px 4px #cadeff inset;
}

.ft-icon::after {
  content: "";
  width: 156px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url("../img/feature-icons.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.camera::after {
  background-position: 0px 0px;
}

.friends::after {
  background-position: 0px -100px;
}

.cloud::after {
  background-position: 0px -200px;
}

.ft-text {
  padding-top: 20px;
}

.ft-text p {
  width: 94%;
  text-align: justify;
  line-height: 1.8;
}

/* Form Panel */

.panel {
  margin-bottom: 100px;
}

.callout {
  padding: 2em 2.5em;
  background-image: url("../img/form-panel-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

form {
  position: relative;
}

input.phone-txt {
  display: inline-block;
  width: 75%;
  padding: 22px 12px;
  background-color: #dcdfe1;
  border: 1px solid #d5d5d5;
}

.btn-submit {
  position: absolute;
  border: none;
  top: 45px;
  right: 99px;
}

/* Buttons */

.btn-dl,
.btn-submit {
  color: inherit;
  margin-right: 10px;
  background-color: transparent;
}

.btn-dl {
  border: 2px solid;
}

.btn-dl:hover,
.btn-submit:hover {
  color: rgb(17, 29, 62);
  background-color: #cadeff;
}

.btn-dl:focus,
.btn-submit:focus {
  background-color: transparent;
}

/* Media Queries */

@media only screen and (max-width: 1025px) {
  .btn-submit {
    right: 69px;
  }

  form {
    display: inline-block;
  }

  h1 {
    font-size: 3.5em;
  }
}

@media only screen and (max-width: 767px) {
  .top-bar {
    min-height: 60px;
  }

  .main-logo {
    width: 80px;
    height: 35px;
  }

  .top-bar p {
    margin: 13px 0 0;
    font-size: 0.8em;
  }

  .headline {
    margin: 60px 0 32px;
    text-align: center;
    padding: 50px 0 15px;
    background-position: 10% top;
  }

  h1 {
    font-size: 2.25em;
  }

  .headline .lead {
    font-size: 1em;
    margin-bottom: 40px;
  }



  .btn-submit {
    position: static;
    display: inline-block;
    width: 30%;
    border: 2px solid;
  }
}

@media only screen and (max-width: 640px) {
  .ft-icon {
    max-width: 350px;
    margin: 0 auto 30px;
  }

  .inform {
    text-align: center;
  }

  .ft-text,
  .ft-text p {
    text-align: center;
    line-height: 1.6;
  }
}

/* Icons */

[class*="fi-"]::before {
  font-size: 1.5em;
  margin-right: 10px;
  line-height: 1.1;
  vertical-align: sub;
}

.btn-submit i::before {
  margin-right: 0;
}
